[submodule "tps/gtest"]
	path = tps/gtest
	url = https://github.com/google/googletest
[submodule "tps/gbench"]
	path = tps/gbench
	url = https://github.com/google/benchmark
[submodule "tps/sal"]
	path = tps/sal
	url = https://github.com/svens/sal
	branch = master
